/* Apply styles to the container element */
.show-matches-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Prevent any potential overflow */
}

/* Style the table container */
.match-table-box {
  max-width: 800px; /* Adjust the maximum width as needed */
  width: 100%;
  padding: 16px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
}

/* Apply styling to table elements */
.mat-table {
  width: 100%;
  margin-bottom: 16px; /* Add spacing between tables */
  border-collapse: collapse; /* Collapse table borders */
}

/* Style table headers */
.mat-header-cell {
  text-align: center; /* Center-align table headers */
  font-weight: bold; /* Make header text bold */
  background-color: #f0f0f0; /* Header background color */
  padding: 8px; /* Header cell padding */
  border: 1px solid #ddd; /* Header cell border */
}

/* Style table cells */
.mat-cell {
  text-align: center; /* Center-align table cells */
  padding: 8px; /* Cell padding */
  border: 1px solid #ddd; /* Cell border */
}

/* Apply styling to headers */
h2 {
  text-align: center;
  margin-bottom: 16px; /* Add spacing below headers */
}

.mat-icon-success {
  color: green;
  font-size: 24px;
  margin-right: 5px;
}

.mat-icon-error {
  color: red;
  font-size: 24px;
  margin-right: 5px;
}

.mat-header-row {
  align-items: center;
}