.site-title {
  color: white;
}

.left-content {
  display: flex;
  align-items: center;
}

.right-content {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px; /* Add some gap between the user info and logout button */
}

.user-info {
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.username {
  margin-left: 5px;
}
