<div class="swipe-container">
    <div *ngFor="let photo of displayedPhotos; let i = index" class="swipe-card" [class.active]="i === 0" [@cardAnimation]>
      <div class="swipe-card-image" [style.backgroundImage]="'url(' + photo.url + ')'"></div>
      <div class="swipe-actions">
        <button class="swipe-button left" (click)="swipeLeft(photo)" *ngIf="i === 0">Swipe Left</button>
        <button class="swipe-button right" (click)="swipeRight(photo)" *ngIf="i === 0">Swipe Right</button>
      </div>
    </div>
  </div>
  
  <ng-template #noMorePhotos>
    <p>No more photos</p>
  </ng-template>
  