<div class="swipe-container">
  <h2 class="find-matches-title">Find Matches</h2>
  <ng-container *ngIf="!noMorePhotos; else noMorePhotosTemplate">
    <div *ngFor="let user of displayedUsers; let i = index" class="swipe-card" [class.active]="i === 0" [@cardAnimation]>
      <div class="swipe-card-image" [style.backgroundImage]="user.photoURL ? 'url(' + user.photoURL + ')' : 'url(/assets/images/image-placeholder.png)'"></div>

      <div class="swipe-actions">
        <button class="swipe-button left" (click)="swipeLeft(currentUserId, user,'Vedic')" *ngIf="i === 0">Reject</button>
        <button class="swipe-button right" (click)="swipeRight(currentUserId, user,'Vedic')" *ngIf="i === 0">Select</button>
      </div>
    </div>
    <button mat-raised-button color="primary" routerLink="/show-matches">Show Matches</button>
  </ng-container>
  <ng-template #noMorePhotosTemplate>
    <p>No more photos</p>
  </ng-template>
</div>
