<mat-toolbar color="primary">
  <!-- Top navigation content -->
  <app-toolbar (sidenavToggle)="toggleSidenav()"></app-toolbar>
</mat-toolbar>

<div class="flex-container">
  <mat-sidenav-container mat-sidenav-container >
    <mat-sidenav #sidenav mode="side">
        <!-- Side navigation content -->
        <app-navbar></app-navbar>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- Main content area -->
        <ng-content></ng-content> 
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
